/* USE THIS TO SEE BOXES
* {border: 1px solid red !important;}
*/

/*WELCOME SECTION TO BE HEIGHT OF VIEWPORT - INCLUDE LINKS TO PROJECTS AND TILES*/

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --darkblue-background: hsla(240, 30%, 15%, 1);
  font-size: 1vw;
  color: white;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 99vw;
  background-color: var(--darkblue-background);
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 1%;
}

.nav-link {
  float: left;
  transition: all 0.6s ease 0.2s;
}
.nav-link:hover {
  color: orange;
}

#profile-link {
  color: green;
}

#welcome-section {
  background: hsla(240, 25%, 25%, 1);
  height: 100vh;
  width: 100vw;
  padding: 3% 1%;
  margin-left: -1%;
}

#badger-logo {
  float: left;
  width: 8%;
  height: auto;
  margin: 2% 1%;
}

#projects {
  display: grid;
  width: 99vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: -0.5%;
}

.project-tile {
  background: blue;
}

article img {display: block; max-width: 95%; height: auto; margin: auto;}

#contact {
  background: yellow;
}

footer {
  width: 100%;
  background: black;
  text-align: center;
}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.follow {
  transition: all 0.6s ease 0.2s;
}
.follow:hover {
  color: orange;
}

h4 {
  float: right;
  font-size: 1.2rem;
  color: red;
}

@media (max-width: 800px) {
  p {
    font-size: 4rem;
  }
}
